/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start: #060013;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 6, 0, 19;
    --background-end-rgb: 4, 0, 14;
    --font-family: 'Poppins', sans-serif;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  font-family: var(--font-family);
}

.text-balance {
  text-align: justify;
  text-justify: distribute;
}

.typing {
  display: inline;
  border-right: 2px solid #5007C8;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(30, end), blink-caret .75s step-end infinite;
}
.image-brightness-hover {
  transition: filter 0.3s ease-in-out;
}

.image-brightness-hover:hover {
  filter: brightness(1.25);
}


.shadow-glow {
  box-shadow: 0 0 15px rgba(80, 7, 200, 0.8), 0 0 30px rgba(80, 7, 200, 0.5); /* Tom de roxo */
}

.shadow-glow:hover {
  box-shadow: 0 0 25px rgba(80, 7, 200, 0.9), 0 0 50px rgba(80, 7, 200, 0.7); /* Tom de roxo mais claro */
}



@keyframes typing {
  from { width: 0; }
  to { width: 14em; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #5007C8; }
}
